<div class="row">
    <div class="col-lg-3">
        <app-book-category></app-book-category>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="thumbnail">
                    <img src="{{book.imageUrl}}" height="300" width="250">
                </div>
            </div>
            <div class="col-12 col-md-8">
                <h3>{{book.name}}</h3>
                <hr>
                <p>{{book.description}}</p>
                <hr>
                <h4>Price : <strong>{{book.unitPrice | currency:'INR'}}</strong></h4>
                <hr>
                <h6>Quantity Available : {{book.unitsInStock}}</h6>
                <hr>
                <a href="/books" class="btn btn-success">
                    <i class="fas fas-arrow-left"></i>Back
                </a>
                <a href="#" class="btn btn-primary ml-1">
                    <i class="fas fas-cart-arrow-down"></i>Add To Cart
                </a>
            </div>            
        </div>
    </div>
</div>